      labels:
        - traefik.enable=true
        - traefik.constraint-label=traefik-public
        - traefik.docker.network=${TRAEFIK_NETWORK}
        - traefik.http.routers.${STACK_NAME}_api.service=${STACK_NAME}_api
        - traefik.http.services.${STACK_NAME}_api.loadbalancer.server.port=${PORT}
        - traefik.http.routers.${STACK_NAME}_api.rule=Host(`${API_URL}`)
        - traefik.http.routers.${STACK_NAME}_api.entrypoints=https,http,web
        - traefik.http.routers.${STACK_NAME}_api.tls=true
        - traefik.http.routers.${STACK_NAME}_api.tls.certresolver=le
