# Ignore data directories
postgres_data/*
neo4j_data/*
neo4j_logs/*
redis_data/*

# Ignore config files
.env
docker-compose.yml

# Ignore created files
swarm-stack.yml
.setup-complete

# Ignore possibly manually created config files.
swarm-stack.yml.*
swarm-stack.*.yml
.env.*

# Ignore backup folders
backup/
backups/

# Keep .gitkeep files to ensure empty folders are created
!postgres_data/.gitkeep
!neo4j_data/.gitkeep
!neo4j_logs/.gitkeep
!redis_data/.gitkeep
